<style>
    #searchBox{
        width: 490px;
        height: 350px;
        background-color: #fff;
        margin-left: 241px;
        border-radius: 5px;
        position: absolute;
    }

    .d-none{
        display: none;
    }
</style>

<div id="searchBox" class="d-none">

</div>