<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/infiniteComment/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <title>Comment</title>
</head>
<body>
    <div class="continer">
        <div class="buttonDiv" id="commentDiv" onclick="openCommentModel()">
            <button class="button">Open Comment</button>
        </div>

        <!-- comment model -->
        <div id="commentModel" class="d-none">
            <button id="closeModel" onclick="closeCommentModel()">X</button>
            <div class="card commentCardModel"> 
                <div class="card-header">Comments</div>
                <div class="card-body" id="cardBodyModal"> 
                    <div id="chatList" class="chatList">
                        
                    </div>
                </div>
                <div class="card-footer">
                    <textarea id="chatText" class="form-control" cols="30" rows="1" placeholder="Write your commment..." style="width: 91%;display: inline-block;"></textarea>
                    <img id="chatImage" src="https://cdn.icon-icons.com/icons2/2783/PNG/512/send_message_chat_icon_177294.png" alt="">
                </div>
            </div>

        </div>
    </div>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/infiniteComment/script.js"></script>
</body>
</html>