<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <title>Projects</title>
    <style>
        .projects{
            height: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            
                <div class="col-sm-4 projects">
                    <a href="/index">
                        User Management
                    </a>
                </div>
                <div class="col-sm-4 projects">
                    <a href="/infiniteComment">
                        Infinite Comment
                    </a>
                </div>
                <div class="col-sm-4 projects">
                    <a href="/editTable">
                        Edit Table
                    </a>
                </div>
                <div class="col-sm-4 projects">
                    <a href="/box">
                        Change box Color
                    </a>
                </div>
                <div class="col-sm-4 projects">
                    <a href="/accordian">
                        Accordian
                    </a>
                </div>
                <div class="col-sm-4 projects">
                    <a href="/swapDivColor">
                        Swap Color
                    </a>
                </div>
                <div class="col-sm-4 projects">
                    <a href="/product">
                        Product Listing
                    </a>
                </div>
                <div class="col-sm-4 projects">
                    <a href="/linkedin">
                        Linkedin
                    </a>
                </div>
        </div>
    </div>
    
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
</body>
</html>