<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/accordian/style.css">
    <title>Accordian</title>
</head>
<body>
    <div class="container">
        <div class="mainDiv">
            <div class="accordian" accordianId="aboutUs">About US</div>
            <div class="accordianData Hidden" id="aboutUs">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            <div class="accordian" accordianId="contactUs">Contact US</div>
            <div class="accordianData Hidden" id="contactUs">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            <div class="accordian" accordianId="followUs">Follow US</div>
            <div class="accordianData Hidden" id="followUs">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
            <div class="accordian" accordianId="address">Address</div>
            <div class="accordianData Hidden" id="address">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>
    
    
<script src="js/jquery.min.js"></script>
<script src="/js/accordian/script.js"></script>
</body>
</html>