<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Cart</title>
    <link rel="stylesheet" href="/css/productCart/style.css">
</head>
<body>
    <div class="container">
        <div class="counterClass">
            <span  id="minus" class="disable">-</span>
            <span id="counter">0</span>
            <span id="plus">+</span>
        </div>

        <div class="productList"> 
            <div class="rowData" id="productCart">
                
            </div>
        </div>
    </div>

    <script src="/js/productCart/script.js"></script>
</body>
</html>