<!DOCTYPE html>
 <HTML>
    <head>
        <title>Box Color</title>
        <link rel="stylesheet" href="css/boxColor/style.css">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        
    </head>
    <body>
        <div class="container">
            <div class="boxes">
                <div class="divRow">
                    <div class="divcol" id="column1"></div>
                    <div class="divcol" id="column2"></div>
                    <div class="divcol" id="column3"></div>
                </div>
                <div class="divRow">
                    <div class="divcol" id="column4"></div>
                    
                </div>
                <div class="divRow">
                    <div class="divcol" id="column5"></div>
                    <div class="divcol" id="column6"></div>
                    <div class="divcol" id="column7"></div>
                </div>
            </div>
            
        </div>

        
    <script src="js/jquery.min.js"></script>
    <script src="js/boxColor/script.js"></script>
    </body>
 </HTML>