<!DOCTYPE html>
<html lang="en">
<head>
    <header>
        <%- include('./header'); %>
    </header>
    <style>
    body{
        padding: 0;
        margin: 0;
        background: #f2f2f2;
    }
    </style>
</head>
<body id="body">
    <%- include('../navbar/navbar'); %>
    <main>
        <div class="jumbotron">
            <%- include('../sidebarProfile/profile'); %>
        </div>
      </main>
    <footer>
        <%- include('./footer'); %>
      </footer>
</body>
</html>